<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kleber Hub</title>
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
  <div id = "welcome">
    <h2>Bienvenue sur le</h2>
    <h1>Kleber Hub</h1>
  </div>
  <div id="log-container">
    <div id="user-face">
      <% if (user) { %>
        <img src="<%= user.profile_pic %>" id="user-face">
      <% } else { %>
        <img src="../public/images/unknow-face.png" id="user-face">
      <% } %>
    </div>
    <div id="log-link">
      <% if (user) { %> 
        <a href="/logout" id="logout-link">Se déconnecter</a>
      <% } else { %>
        <a href="#" id="login-link">Se connecter</a>
      <% } %>
    </div>
  </div>
  <div id="login-pop-up-background">
    <div id="login-pop-up">
        <h2>Connexion</h2>
        <form id="loginForm" method="POST" action="/login">
          <label for="username">Prénom :</label>
          <input type="text" id="username" name="username" required>

          <label for="password">Mot de passe :</label>
          <input type="password" id="password" name="password" required>

          <button type="submit">Confirmer</button>
        </form>
    </div>
  </div>
  <div id="services">
    <h3>services</h3>
    <div id="lock" <% if (user) { %> style="display: none;" <% } %> >
      <img src="../public/images/lock.png" id="lock-image">
      connectez-vous pour accéder aux services
    </div>
    <div id="apps" <% if (user) { %> style="filter: blur(0px); z-index: 1;" <% } %> >
      <div id="toilet-app-container" class="apps-container">
        <a href="/toilet-app" id="toilet-app-link" class="apps-link"><img src="../public/images/toilet.jpg" alt=""></a>
        <p>Toilet app</p>
      </div>
      <div id="mim-container" class="apps-container">
        <a href="/toilet-app" id="mim-link" class="apps-link"><img src="../public/images/chantier.png" alt=""></a>
        <p>En chantier</p>
      </div>
      <div id="yt-container" class="apps-container">
        <a href="/toilet-app" id="yt-app-link" class="apps-link"><img src="../public/images/chantier.png" alt=""></a>
        <p>En chantier</p>
      </div>
      <div id="mdk-container" class="apps-container">
        <a href="/toilet-app" id="mdk-app-link" class="apps-link"><img src="../public/images/chantier.png" alt=""></a>
        <p>En chantier</p>
      </div>
    </div>
  </div>
</main>
</body>
</html>
<script src="../public/js/index.js"></script>

