<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Galerie Photo</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
<header>
</header>
<main>
    <h1>Yo les bg</h1>
    <a href="toilet-app.ejs">toilet app</a>
</main>
<footer>
</footer>
</body>
</html>
