body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}




/* -----welcome-------- */
#welcome{
    margin-left : 15%;
    margin-right: 15%;
    padding-top: 3%;
    width: 100%;
    text-align: center;
}

#welcome h1, h2 {
   margin: 0;
   padding: 0;
}

#welcome h1 {
    font-size: clamp(5em,8vw, 100em);
    color: #f2ed51;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

#welcome h2 {
    font-size: clamp(2.5em,3vw,100em);
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: #e2c929;
}

/* -----login-------- */

#login-container {
    width: 200px;
    margin-bottom: 10px;
}

#user-face {
    width: 135px;
    height: 130px;
    margin: auto;
}


#log-link {
    width: 100%;
    height: 40px;
    background-color: #f4ee45;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#log-link a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
}

/* -----login pop up-------- */

#login-pop-up-background {
    display: none; 
    position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}


#login-pop-up {
  width: auto;
  height: auto;
  background-color: #ffffff;
  border: #f4ee45 0.8vw solid;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  padding: 2% 2% 2% 2%;
}


#login-pop-up h2{
    font-size: clamp(1.7em,2.5vw,100em);
    font-family: "Archivo Black", sans-serif;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 10%;
}

#login-pop-up form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#login-pop-up form label {
    font-size: clamp(1.2em,1.5vw,100em);
    font-family: "Archivo Black", sans-serif;
    color: #000000;
    margin-bottom: 2%;
}
#login-pop-up form input {
    width: 80%;
    padding: 4% 0% 4% 0%;
    border-radius: 10px;
    border: 4px solid #f4ee45;
    font-size: clamp(1em,1vw,100em);
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 10%;
}

#login-pop-up form button {
    width: 80%;
    padding: 5% 0% 5% 0%;
    background-color: #f4ee45;
    color: #000000;
    font-size: clamp(1.2em,1.5vw,100em);
    font-family: "Archivo Black", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

/* -----services-------- */
#services {
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffe415b8;
    border-radius: 60% 60% 0px 0px;
    padding: 3% 1% 5% 1%;
}



#services h3 {
    font-size: clamp(2em,2.5vw,100em);
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: #000000;
    margin-top: 2%;
    margin-block-start: 0;
    margin-block-end: 0;
}
   
#apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.apps-container {
    width: 13%;
    height: 80%;
    min-width: 120px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
}

.apps-container img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.apps-container p{
    text-align: center;
    font-size: clamp(0.5em,1.7vw,100em);
    font-family: "Archivo Black", sans-serif;
    margin-block-start: 10px;
    margin-block-end: 0;
}


/* -----phone responsive-------- */
@media (max-width: 760px) {

    /* -----welcome-------- */
    #welcome {
        margin-top: 5%;
    }

    #welcome h1 {
    font-size: clamp(2.5em,13vw, 100em);
    }

    #welcome h2 {
        font-size: clamp(1em,6vw,100em);
    }
    /* -----login-------- */
    #login-container {
    width: 150px;
    margin-bottom: 4%;
    margin-top: 1%;
}


    #user-face {
        width: 100px;
        height: 95px;
    }

    #log-link {
    height: 30px;
    font-size: 15px;
    }

    /* -----services-------- */
    #services {
        border-radius: 30% 30% 0px 0px;
    }


    #services h3 {
        font-size: clamp(1.5em,5vw,100em);
        margin-block-start: 10px;
        margin-block-end: 1%;
    }

    #apps{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        justify-items: center;
        align-items: center;
        width: 90vmin;   
        height: 90vmin;
        gap: 2%;
    }

    .apps-container {
    width: 80%;
    height: 80%;
    min-height: 80px;
    }

    .apps-container img{
        border-radius: 15px;
    }

    .apps-container p{
        font-size: clamp(0.9em,3vw,100em);
        margin-block-start: 0px;
        
    }
}